# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.hpp text
*.py text
*.java text
*.js text
*.jsx text
*.ts text
*.tsx text
*.html text
*.css text
*.md text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Custom for Visual Studio
*.cs diff=csharp
*.csproj diff=xml
*.sln text eol=crlf
*.vb diff=vb

# Ensure these files are never modified in any way.
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.lock binary
