@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
$font: "figtree";
$clorOne : #2A3746;
$clorTwo : #FFAA3D;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$paddingDeafault: 0 10%;
$marginDeafault: 25px 0 45px 0;

@mixin display-flex () {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin CImgBground() {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
}